$shadow-light-xs: 0px 1px 8px rgba(0, 0, 0, 0.1);
$shadow-light-s: 0px 2px 8px rgba(0, 0, 0, 0.12);
$shadow-light-m: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
$shadow-light-l: 0px 4px 20px rgba(0, 0, 0, 0.2);
$shadow-light-xxs: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
$background-overlay: rgba(0, 0, 0, 0.75);
$shadow-input-box-active-state: 0px 0px 0px 4px #d9ebff;
$shadow-input-box-active-error-state: 0px 0px 0px 4px #ffd9d9;
$shadow-dropdown-active-state: 0px 0px 0px 4px #d9ebff;
