//spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;

//border radius
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;

//font size
$font-sm: 14px;
$font-md: 16px;
$font-lg: 20px;

// Breakpoints
$mobile: 600px;
$tablet: 900px;

$bp-desktop-small: 1024px;
$bp-desktop: 1280px;
$bp-desktop-large: 1440px;
$bp-min-width: 400px;
