$color-light-blue: #1976d2;
$color-light-blue-darker-20: #004faa;
$color-light-blue-darker-40: #003b80;
$color-light-blue-lighter-30: #55a4ff;
$color-light-blue-lighter-40: #80bbff;
$color-light-blue-lighter-50: #b3d6ff;
$color-light-blue-lighter-60: #d9ebff;
$color-light-blue-lighter-70: #ecf5ff;

$color-light-pink: #ce4080;
$color-light-pink-darker-20: #a90b52;
$color-light-pink-darker-40: #80003d;
$color-light-pink-lighter-30: #f0539a;
$color-light-pink-lighter-40: #ff80bc;
$color-light-pink-lighter-50: #ffb3d7;
$color-light-pink-lighter-60: #ffd9eb;
$color-light-pink-lighter-70: #ffecf5;

$color-light-purple: #6840ce;
$color-light-purple-darker-20: #6840ce;
$color-light-purple-darker-40: #250080;
$color-light-purple-lighter-30: #8d60fe;
$color-light-purple-lighter-40: #a480ff;
$color-light-purple-lighter-50: #cfbdff;
$color-light-purple-lighter-60: #e3d9ff;
$color-light-purple-lighter-70: #f1ecff;

$color-light-greenish: #2d8187;
$color-light-greenish-darker-20: #0a676e;
$color-light-greenish-darker-40: #00545a;
$color-light-greenish-lighter-30: #5fbcc3;
$color-light-greenish-lighter-40: #80d4da;
$color-light-greenish-lighter-50: #b3e5e9;
$color-light-greenish-lighter-60: #d9f2f4;
$color-light-greenish-lighter-70: #ecf9fa;

$color-light-orange: #c35619;
$color-light-orange-darker-20: #a94a16;
$color-light-orange-darker-40: #903a09;
$color-light-orange-lighter-30: #e46e2c;
$color-light-orange-lighter-40: #f18f59;
$color-light-orange-lighter-50: #f5b997;
$color-light-orange-lighter-60: #fadccb;
$color-light-orange-lighter-70: #fceee6;

$color-light-green: #108718;
$color-light-green-darker-20: #007400;
$color-light-green-darker-40: #006100;
$color-light-green-lighter-30: #55c955;
$color-light-green-lighter-50: #b3edb3;
$color-light-green-lighter-70: #d9f6d9;

$color-light-red: #c50007;
$color-light-red-darker-20: #aa0000;
$color-light-red-darker-40: #800000;
$color-light-red-lighter-30: #ff5555;
$color-light-red-lighter-50: #ffb3b3;
$color-light-red-lighter-70: #ffd9d9;

$color-light-yellow: #e4af03;
$color-light-yellow-darker-20: #b68c02;
$color-light-yellow-darker-40: #926822;
$color-light-yellow-lighter-30: #fccf3c;
$color-light-yellow-lighter-50: #feeaaa;
$color-light-yellow-lighter-70: #fff5d4;

$color-grey-blue-lighter-20: #3e5462;

$color-light-primary: $color-light-blue;
$color-light-secondary-1: $color-light-pink;
$color-light-secondary-2: $color-light-purple;
$color-light-tertiary-1: $color-light-greenish;
$color-light-tertiary-2: $color-light-orange;
$color-light-success: $color-light-green;
$color-light-danger: $color-light-red;
$color-light-warning: $color-light-yellow;
