$color-brand-blue: #002d6a;
$color-brand-blue-lighter-20: #335788;
$color-brand-blue-lighter-40: #6681a6;
$color-brand-blue-lighter-60: #99abc3;

$color-loader-background: #1d1d1d6b;
$color-loader-fill: #4e6273;
