$color-generic-white: #ffffff;
$color-neutral-white: #fff;
$color-generic-black: #000000;
$color-generic-greyblue: #172731;
$color-generic-greyblue-darker-60: #000001;
$color-generic-greyblue-darker-40: #0b1821;
$color-generic-greyblue-lighter-10: #213746;
$color-generic-greyblue-lighter-15: #324553;
$color-generic-greyblue-lighter-20: #3e5462;
$color-generic-greyblue-lighter-30: #5c707e;
$color-generic-greyblue-lighter-40: #7b8d99;
$color-generic-greyblue-lighter-50: #9aa9b3;
$color-generic-greyblue-lighter-60: #bac5cd;
$color-generic-light-blue-lighter-60: #d9ebff;
$color-generic-greyblue-lighter-70: #dbe1e5;
$color-generic-greyblue-lighter-80: #eceff2;
$color-generic-greyblue-lighter-90: #f6f7f9;

$color-generic-red-dark: #a00;
